/* main: index.scss*/
$columnWidth: 270px;

.columns-container {
  display: flex;

  .column {
    border-radius: 3px;
    margin: 0 5px;
    width: $columnWidth;
    background: $columnBackground;
    align-self: flex-start;
    flex-shrink: 0;
    padding: 8px;

    &.dummy {
      background: transparent;
    };

    &.dragged {
      background: $dragColor;

      * {
        visibility: hidden;
      };
    };

    &.add-column {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.12);
      color: white;

      &:hover {
        background: rgba(0, 0, 0, 0.4);
        transition: 0.8s;
      };
    };

    &.column-creator {
      background: white;

      input {
        padding: 5px;
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid #464d51;
        border-radius: 3px;
        background: #E2E4E6;
        outline: none;
      };
    }
  };

  .receiver-container {
    position: relative;

    .column-receiver {
      position: absolute;
      top: 0;
      left: -15px;
      bottom: 0;
      width: calc(100% + 30px);
      background: transparent;
      z-index: 0;
    };
  }
};
