/* main: index.scss*/

$dragColor: #464d51;

$boardFontColor: white;

$columnFontColor: black;
$columnBackground: #E2E4E6;

$taskFontColor: black;
$taskBackground: white;
$taskHoverBackground: #EDEFF0;
